backend/venv
backend/.env
frontend/node_modules
frontend/dist

# Python
*/__pycache__/
*.py[cod]
backend/tracker/__pycache__
*.pyo
*.pyd
backend/finance_app/__pycache__
backend/accounts/__pycache__
backend/finance_app/__pycache__
backend-old.md
backend.md
frontend.md
.Python
*.so
.pytest_cache/
backend/accounts/__pycache__
backend/accounts/migrations/__pycache__
backend/tracker/migrations/__pycache__
backend/tracker/__pycache__
# Django
*.log
db.sqlite3
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
backend/tracker/migrations
backend/apps/budgets/__pycache__