# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
.pytest_cache/

# Virtual Environments
backend/venv/
venv/
env/

# Environment Variables
backend/.env
.env


# Node
frontend/node_modules/
frontend/dist/
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
backend.md
frontend.md
